.greet {
  // @apply container max-w-lg;
  display: flex;
  flex-direction: column; /* 確保子元素（<p> 標籤）沿著垂直方向排列 */
  align-items: flex-start; /* 讓 <p> 標籤在左側對齊 */
  gap: 5px; /* 在每個 <p> 標籤之間添加一些間隔 */
  padding: 20px; /* 在 <div> 內部周圍添加一些間隙 */
  padding-bottom: 0;
  h2 {
    // color: rgb(255, 255, 255);
    // text-shadow: black 0.1em 0.1em 0.2em;
    // text-shadow: black 0.1em 0.1em 0.2em

    // font-size: 96px;
    font-weight: 200;
    color: white; /* 預設文字顏色為中等灰色 */
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  p {
    // color: rgb(255, 255, 255);
    font-size: medium;
    // font-weight: bold;
    font-weight: 200;

    // text-shadow: black 0.1em 0.1em 0.2em;
    // font-weight: lighter;
    color: white; /* 預設文字顏色為中等灰色 */
    text-shadow: black 0.1em 0.1em 0.2em;
  }
}
.dailyContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start; // 使Heading靠左對齊
  background-color: rgba(150, 150, 150, 0.25); /* 設置半透明的背景色 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 900; /* 確保 slider 能夠顯示在其他內容之上 */
  top: 10%;
  width: 50%; /* 佔據螢幕寬度的一半 */
  height: 80%; /* 全螢幕高度 */
  transition: right 0.5s ease; /* 滑動效果，持續時間0.5秒 */
  right: -49%;
  // right:0;
  position: fixed; /* 固定位置，使其能夠脫離正常的文檔流 */
  overflow: hidden;
  h2 {
    // font-size:medium;
    color: white;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
  }
  h2:hover {
    text-shadow: black 0.1em 0.1em 0.2em;
    cursor: pointer;
  }
}
.dailyFooter {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between; /* 讓子元素分布在容器兩端 */
  position: relative; /* 若需要其他絕對定位的子元素 */
}

.dailyFooter .leftSpacer {
  display: flex;
  justify-content: center; /* 確保內容水平居中 */
  flex-grow: 1; /* 允許左側區域佔據最大空間 */
}

.dailyFooter textarea {
  /* 根據需求調整textarea的樣式 */
  resize: none;
  width: 80%; /* 或根據實際情況調整 */
  margin: 1px 11px 16px 1px; /* 上下邊距 */
  border-bottom: 2px solid #fff; /* 邊框樣式 */
  // border-radius: 5px; /* 邊框圓角 */
  background-color: transparent;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  line-height: 1.2;
  outline: none; /* 移除聚焦時的外框 */
}

.dailyInputEntry {
  /* 設置文本樣式 */
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  padding: 10px;
  text-align: center;
  width: 80%;
  user-select: none;
  cursor: pointer;
  font-size: 12px;
  /* 可能需要進一步調整以適應布局 */
}

.daily {
  overflow-x: hidden; /* 隱藏水平滾動條 */
  overflow-y: auto; /* 內容超出時顯示垂直滾動條 */
  padding-left: 10px;
  height: calc(100% - 40px); /* 根據需要調整 */
  /* 其他需要的樣式，例如 width: 98%; */
}

.daily p {
  color: #fff; /* 設定文字顏色 */
  margin: 0 0 5px 0; /* 在每個 <p> 下方增加更多空隙 */
  padding: 10px; /* 為了更好的可讀性，在 <p> 內部周圍添加一些間隙 */
  background-color: rgba(90, 90, 90, 0.6); /* 設置半透明的背景色 */
  border-radius: 5px; /* 給 <p> 添加圓角邊框，使外觀更加柔和 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 給 <p> 添加陰影，增加層次感 */
  width: auto; /* 或設定為固定寬度，如 width: 100%; 來控制寬度 */
  display: flex; /* 將 <p> 設置為flex容器 */
  justify-content: space-between; /* 實現內容靠左和靠右的布局 */
  align-items: center; /* 確保內部元素垂直居中 */
  font-size: 16px;
}
.tokenRef {
  color: #69bae5; /* 設定文字顏色 */
  font-weight: bolder;
  display: inline;
}
.tokenRef:hover{
  text-shadow: rgba(0, 0, 0, 0.257) 0.1em 0.1em 0.1em;
}
.tokenTime {
  color: #fff; /* 設定文字顏色 */
  font-weight: bolder;
  display: inline;
}

.tokenTODO {
  color: #f0a3a3; /* 設定文字顏色 */
  font-weight: bolder;
  display: inline;
}
.tokenTODO:hover{
  text-shadow: rgba(0, 0, 0, 0.257) 0.1em 0.1em 0.1em;
}
.tokenDONE {
  color: #7adbb9; /* 設定文字顏色 */
  font-weight: bolder;
  display: inline;
  :hover{
    text-shadow: black 0.1em 0.1em 0.1em;
  }
}
.fullscreenBg {
  position: fixed; /* 或者使用 absolute，取決於頁面的其它內容 */
  top: 0;
  left: 0;
  width: 100vw; /* 視窗寬度 */
  height: 100vh; /* 視窗高度 */
  // background-image: url('assets/img/wallpaper.jpg'); /* 你的背景圖片 */
  background-size: cover;
  background-position: center;
  z-index: -1; /* 確保它在最底層 */
}

.fullscreenBg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2); /* 薄霧效果，調整透明度來改變薄霧濃度 */
  // backdrop-filter: blur(3px); /* 模糊效果 */
  z-index: -1;
}

.e1 {
  padding-left: 30px;
}

.mainPanel {
  display: flex;
  flex-direction: column; /* 確保子元素以列的方式排列 */
  justify-content: space-between; /* 初始設定為垂直置中，但對 .journaling 的影響將由 margin-top: auto 覆蓋 */
  align-items: center; /* 水平方向居中 */
  height: 80vh; /* 可調整高度 */
  width: 100%;
}

.clock {
  display: flex;
  justify-content: center; /* 水平方向居中 */
  align-items: center; /* 此屬性確保內容垂直居中 */
  text-align: center; /* 文字居中 */
  // padding-top: 10px;
  flex-grow: 1; /* 讓 .desc 佔用多餘空間，從而推動 .journaling 靠底部 */
}

.clock {

  h2 {
    font-size: 96px;
    font-weight: lighter;
    color: white; /* 預設文字顏色為中等灰色 */
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  p {
      font-size: 52px;
      font-weight: 200;
      color: #ffffff;
      padding-top: 31px;
      padding-left: 10px;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
}

.journaling {
  position: fixed; /* 固定位置，使其不隨頁面滾動而移動 */
  bottom: 0; /* 定位到視窗的底部 */
  // left: 0; /* 定位到視窗的左邊 */
  width: 80%; /* 元素寬度佔滿整個視窗寬度 */
  height: 30vh; /* 元素高度設為視窗高度的1/3 */
  overflow: auto; /* 如果內容超過元素高度，則顯示滾動條 */
  padding: 10px; /* 內部間隙 */
  text-align: center; /* 文字居中 */
  box-sizing: border-box; /* 確保padding不會影響到元素的最終計算寬度和高度 */
  /* 這裡可以加入其他需要的樣式，例如背景色、文字顏色等 */
}

.journaling {
  h2 {
    color: rgb(255, 255, 255);
    text-shadow: black 0.1em 0.1em 0.2em;
    font-weight: lighter;
    font-size: 24px;
    width: 75%;
    margin: 0 auto;
  }
  svg {
    color: rgb(255, 255, 255);
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-left: auto;
  }

  textarea {
    resize: none;
    margin-top: 10px;
    font-weight: lighter;
    width: 70%;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    border-radius: 0;
    background-color: transparent;
    color: #fff;
    cursor: text;
    font-size: 24px;
    line-height: 30px; /* 每行的高度 */
    text-shadow: black 0.1em 0.1em 0.2em;
    overflow: hidden;
  }
  div {
    visibility: hidden;
    // border: red;
    font-size: 24px;
    line-height: 30px;
    font-weight: lighter;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 80%;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
}

.dailyContainer:hover {
  right: 0;
}
.dailyContainer:hover ~ .mainPanel {
  opacity: 0.2;
}

.ref {
  a {
    font-weight: bold;
    color: rgb(16, 142, 100);
  }
  display: inline;
}

.calcDiv {
  position: absolute; /* 使用絕對定位 */
  left: 0; /* 設定於視口左邊界 */
  bottom: -100%; /* 將其放置在視口底部以下，使其不可見 */
  width: 100%; /* 可根據需要設置寬度 */
  visibility: hidden; /* 使其不可見，但仍佔位於DOM中 */
}
